img{ 
    width: 80%;
	position:absolute;
		top: 350px;
		left: 100px;
	
	-webkit-animation:caminar 10s alternate infinite;
}
@-webkit-keyframes caminar{
	0%{
		margin-left:0px;
	}
	100%{
		margin-left:800px;
		-webkit-transform:rotateY(180deg);
	}
}